/* Generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}


/* Utils */

.d-flex {
    display: flex;
}

.btn {
    padding: 10px 20px;
    border-radius: 30px;
}
/* Color palette */

:root{
    --pale-gray: #414141;
    --gray: #282828;
    --black: #000;
    --dark-blue: #141922;
    --white: #fff;
}

/* Main */

/* Headbar */

.headbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 100px;
    background-color: rgba(0, 0, 0, 0.1);

    text-align: right;
    line-height: 100px;
    padding: 0 20px;
}

.headbar a{
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--white);
}


/* Sidebar */

.sidebar {
    width: 50px;
    color: var(--pale-gray);
    background-color: var(--black);
}

/* Main page */

main .page{
    height: calc(100vh - 100px);
    width: 100%;
    background-color: var(--dark-blue);
    overflow-y: scroll;
}

main .page-content{
    padding-top: 100px;
}

/* Footer */

footer .container {
    background-color: var(--gray);
    min-height: 100px;
}

/* Queries */

@media screen and (min-width:768px){
    .sidebar{
        width: 250px;
    }
}